body{
    background-color: snow;
}
#header{
    display:flex;
    flex-direction: row;
    height: 50px; 
    width: 100%;
    padding-top: 10px;
}
#img-logo{
    height: 60px;
    width: 25%;
    padding: 15px;
}
.navbar{
    width: 50%;  
}
.menu{
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    color: #031D44;
    padding: 40px 0px;
    margin: 0px 30px;
    transform: translate(180px);
    display: inline-block;
    position: relative;
}
.menu:hover {
    opacity: 1;
  }
  .menu::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #1666dd;
  }
  .menu-bar::before {
    width: 0%;
    bottom: 10px;
  }
  .menu-bar:hover::before {
    width: 100%;
  } 
.button{
    height:30px;
    width:25%;
    padding: 15px;
    transform: translate(150px);
}
.ur-button{
    height:60px;
    width:150px; 
    background-color: #FFD8DB;
    color: #A389CC;
    border: none;
    border-radius: 25px;
}
.ur-button:hover{
   background-color:darksalmon;
}
.landing-section{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}
#landing-section-para{
    width:40%;
    padding: 10px;
    transform: translate(20px);
    
}
#landing-section-img{
    margin-top: 70px;
    width:60%;
}
#landing-section-title{
  font-weight: 800;
  font-size: 50px;  
  
}
#square-icon{
    font-size: 20px;
    color: blue;
}
#landing-section-desc{
    font-family:'Times New Roman', Times, serif;
    font-weight: 170;
    font-size: 23px;
    color: gray;
}
.new-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:40px;
    width:s750px;
    padding: 20px;
}
.n-button{
    height:30px;
    width:250px; 
    margin-right: 30px;
}
.new-btn{
    height:60px;
    background-color:  #5243C0;
    color: #ffffff;
    border: none;
    width:150px;
    border-radius: 25px;
}
.new-btn:hover{
    background-color: dodgerblue;
}
#arrow-up-img{
    height:30px;
    width:250px;
   /* padding: 20px;*/
    transform: translate(2px);
}
#arrow-down-img{
    height:30px;
    width:250px;
    /*padding: 20px;*/
    transform: translate(-10px);
}
.card{
    display: flex;
    flex-direction: row;
     height: 50px;
     width: 420px;
     margin-top: 30px;
     background-color:whitesmoke;
     border-radius: 5px;
     position:relative;
}
#checkbox{
    padding: 10px;  
    font-size: 30px;
    /*color: white;*/
}

#user-desc{
    width: 120px;
    transform: translate(25px);
    padding-top: 1px; 
    padding-bottom: 1px;  
    font-size: 16px;
}
#user-logo{
    padding-top: 8px; 
    transform: translate(35px);  
}
#date{
    width: 100px;
    transform: translate(80px);
    padding-top: 1px; 
    padding-bottom: 1px;  
}
#sm-button{
    width: 80px;
    height: 20px;
    transform: translate(75px);
    padding-top: 15px;
    
    
}
#pl-btn{
    width: 20px;
    height: 10px;
    background-color: #FED7DA;
    border-radius: 5px;
    border: none;
}
#or-btn{
    width: 20px;
    height: 10px;
    background-color: #FD6534;
    border-radius: 5px;
    border: none;
}
#bl-btn{
    width: 20px;
    height: 10px;
    background-color:  #9ED095;
    border-radius: 5px;
    border: none;
}
#rd-btn{
    width: 20px;
    height: 10px;
    background-color: #FFE4A0;
    border-radius: 5px;
    border: none;
}
i:hover{
    color: blue;
}
.card:hover{
    background-color:white;
}








  
